html{
  scroll-behavior: smooth;

}

body {
  /* line-height: 1.6; */
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

header {
  background-color: gray;
  color: white;
  padding: 20px 0px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

header h1 {
  margin: 0;
}

#about p{
  font-size: 20px;
}
section {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  color: crimson;
}

.gallery{
  display: flex;
  /* flex-wrap: wrap; */
}

.gallery-item {
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-item h3 {
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: gray;
  color: white;
  font-size: 20px;
}

#button{
  font-size: 15px;
  padding: 10px 8px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  font-style: italic;
  transition:all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#button:hover{
  box-shadow: 0 0 10px 1px blueviolet;
}

/* #about,#portfolio,#skills,#contact{
  min-height: 80vh;
} */

.notShowing{
display: none;
}

.showing{
display: block;
}