/* General Styles */
body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

h1 {
  color: white;
}

h2{
  color: #333;
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: yellow;
}

/* Section Styles */
.section {
  padding: 50px 20px;
  text-align: center;
}

#about {
  background-color: lightgray;
}

#menu {
  background-color: #f9f9f9;
}

#contact {
  background-color: lightgray;
}

/* Menu Items */
#menu-items {
  margin: 20px 0;
}

#menu-items div {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
